[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
bonsai = {file = "."}
markdown = "*"
nltk = "*"
torch = "*"
transformers = {extras = ["torch"], version = "*"}

[dev-packages]
pytest = "*"
ipdb = "*"
pdbpp = "*"

[requires]
python_version = "3.11"
